= form_tag events_path, :method => :get, :class => "formtastic search", :id => "events_search" do
	%ol
		%li.select
			= label_tag "country_id", "Country"
			= (select_tag "country_id",  options_from_collection_for_select(Country.all.unshift(Country.new(:name => "All countries")), "id", "name", params[:country_id]))
		%li.string
			= label_tag "city_name", "City"
			= text_field_tag :city_name, params[:city_name], :placeholder => "Search for city"
		%li.submit
			%fieldset.buttons
				= submit_tag "Search"
